.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.912109;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.741211;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.966000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.716309;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.804000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:671.657893px;}
.fc2{color:rgb(71,71,71);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:44.001458px;}
.fs2{font-size:52.015367px;}
.fs4{font-size:64.021222px;}
.fs6{font-size:72.035131px;}
.fs5{font-size:128.042445px;}
.fs3{font-size:140.048300px;}
.fs0{font-size:152.054155px;}
.y0{bottom:0.000000px;}
.yd{bottom:60.998854px;}
.y2b{bottom:72.421525px;}
.yc{bottom:82.759466px;}
.yf{bottom:83.530640px;}
.yb{bottom:104.520079px;}
.ye{bottom:105.291252px;}
.y21{bottom:113.064756px;}
.ya{bottom:126.280691px;}
.y20{bottom:137.743337px;}
.y28{bottom:171.523353px;}
.y6{bottom:172.958673px;}
.y9{bottom:191.263509px;}
.y27{bottom:193.283965px;}
.y26{bottom:217.962642px;}
.y1d{bottom:230.878505px;}
.y8{bottom:233.284002px;}
.y2{bottom:250.674661px;}
.y1c{bottom:255.557093px;}
.y7{bottom:275.304495px;}
.y25{bottom:299.112302px;}
.y2a{bottom:299.195680px;}
.y1{bottom:306.952107px;}
.y24{bottom:323.790993px;}
.y29{bottom:323.874372px;}
.y1f{bottom:346.539516px;}
.y19{bottom:362.295740px;}
.y1e{bottom:371.217871px;}
.y18{bottom:404.316233px;}
.y14{bottom:414.071108px;}
.y23{bottom:429.483070px;}
.y11{bottom:446.336726px;}
.y13{bottom:452.339771px;}
.y1b{bottom:456.651466px;}
.y22{bottom:471.503563px;}
.y5{bottom:478.952666px;}
.y17{bottom:478.952839px;}
.y1a{bottom:481.330054px;}
.y10{bottom:488.357219px;}
.y12{bottom:490.608434px;}
.y4{bottom:493.959985px;}
.y16{bottom:493.960158px;}
.y3{bottom:508.967304px;}
.y15{bottom:508.967477px;}
.h4{height:31.690503px;}
.hc{height:38.491372px;}
.h5{height:39.167572px;}
.hb{height:47.375705px;}
.h7{height:48.207980px;}
.h9{height:56.907753px;}
.h8{height:92.093028px;}
.ha{height:97.924397px;}
.h6{height:100.728099px;}
.h2{height:109.363169px;}
.h3{height:109.511660px;}
.h1{height:575.999980px;}
.h0{height:576.000000px;}
.w0{width:1024.500000px;}
.x0{left:0.000000px;}
.x1{left:57.628109px;}
.x7{left:62.207225px;}
.x2{left:85.302642px;}
.x4{left:89.100026px;}
.x8{left:407.819407px;}
.x5{left:426.259936px;}
.xa{left:491.435332px;}
.xc{left:518.922285px;}
.x3{left:556.286353px;}
.x9{left:611.347943px;}
.xb{left:727.181274px;}
.x6{left:747.333828px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:895.543858pt;}
.fs1{font-size:58.668611pt;}
.fs2{font-size:69.353823pt;}
.fs4{font-size:85.361630pt;}
.fs6{font-size:96.046841pt;}
.fs5{font-size:170.723260pt;}
.fs3{font-size:186.731067pt;}
.fs0{font-size:202.738873pt;}
.y0{bottom:0.000000pt;}
.yd{bottom:81.331805pt;}
.y2b{bottom:96.562034pt;}
.yc{bottom:110.345955pt;}
.yf{bottom:111.374186pt;}
.yb{bottom:139.360105pt;}
.ye{bottom:140.388336pt;}
.y21{bottom:150.753008pt;}
.ya{bottom:168.374255pt;}
.y20{bottom:183.657782pt;}
.y28{bottom:228.697804pt;}
.y6{bottom:230.611564pt;}
.y9{bottom:255.018012pt;}
.y27{bottom:257.711954pt;}
.y26{bottom:290.616856pt;}
.y1d{bottom:307.838006pt;}
.y8{bottom:311.045336pt;}
.y2{bottom:334.232882pt;}
.y1c{bottom:340.742790pt;}
.y7{bottom:367.072660pt;}
.y25{bottom:398.816402pt;}
.y2a{bottom:398.927573pt;}
.y1{bottom:409.269476pt;}
.y24{bottom:431.721324pt;}
.y29{bottom:431.832495pt;}
.y1f{bottom:462.052688pt;}
.y19{bottom:483.060987pt;}
.y1e{bottom:494.957162pt;}
.y18{bottom:539.088311pt;}
.y14{bottom:552.094811pt;}
.y23{bottom:572.644093pt;}
.y11{bottom:595.115635pt;}
.y13{bottom:603.119695pt;}
.y1b{bottom:608.868621pt;}
.y22{bottom:628.671417pt;}
.y5{bottom:638.603555pt;}
.y17{bottom:638.603785pt;}
.y1a{bottom:641.773405pt;}
.y10{bottom:651.142959pt;}
.y12{bottom:654.144579pt;}
.y4{bottom:658.613313pt;}
.y16{bottom:658.613544pt;}
.y3{bottom:678.623072pt;}
.y15{bottom:678.623302pt;}
.h4{height:42.254005pt;}
.hc{height:51.321829pt;}
.h5{height:52.223429pt;}
.hb{height:63.167606pt;}
.h7{height:64.277307pt;}
.h9{height:75.877004pt;}
.h8{height:122.790704pt;}
.ha{height:130.565863pt;}
.h6{height:134.304131pt;}
.h2{height:145.817559pt;}
.h3{height:146.015546pt;}
.h1{height:767.999973pt;}
.h0{height:768.000000pt;}
.w0{width:1366.000000pt;}
.x0{left:0.000000pt;}
.x1{left:76.837478pt;}
.x7{left:82.942966pt;}
.x2{left:113.736856pt;}
.x4{left:118.800034pt;}
.x8{left:543.759209pt;}
.x5{left:568.346581pt;}
.xa{left:655.247109pt;}
.xc{left:691.896381pt;}
.x3{left:741.715137pt;}
.x9{left:815.130590pt;}
.xb{left:969.575032pt;}
.x6{left:996.445103pt;}
}
